@import url(style_header_footer.css);

body {
   font-family: 'TT Hoves', Arial, Helvetica, sans-serif;
}

h2 {
   font-weight: 300;
   font-style: normal;
   font-size: calc(40px + 19 * (100vw / 1440));
   color: #BDBDBD;
}

.main {
   width: 100%;
}

.section {
   width: 90vw;
   margin: 10px auto;
}

.introduction {
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-rows: 1fr;
   grid-template-areas: "introduction__txt introduction__slider";
}

.introduction__txt {
   grid-area: introduction__txt;
   display: grid;
   justify-content: center;
   align-content: center;
}

h1 {
   font-weight: 300;
   font-style: normal;
   font-size: calc(45px + 19 * (100vw / 1440));
   color: #BDBDBD;
}

.bold {
   font-weight: bold;
   color: black;
}

.pagination-main {
   display: flex;
   flex-direction: column;
   margin: 8% 0px;
}

.arrows {
   display: flex;
   justify-content: flex-start;
   margin-bottom: 8%;
}

.start,
.end,
.left,
.right {
   height: 53px;
   width: 53px;
   border: 0px;
   background-color: transparent;
}

.end {
   color: #BDBDBD;
}

.left,
.right {
   border: 1px solid #F2F2F2;
   background-color: transparent;
}

.right {
   background-color: #F9F9F9;
   margin-left: 20px;
}

.introduction__slider {
   grid-area: introduction__slider;
}

.carousel-inner {
   max-width: 80%;
}

.introduction__button {
   position: absolute;
   left: 1%;
   top: 93%;
   transform: translate(-1%, -93%);
}

.white-button {
   border-radius: 0px;
}

.introduction__item>img {
   max-width: 100%;
}

.about__row {
   display: grid;
   grid-template-columns: 35% 25% 40%;
   grid-template-rows: 1fr;
   grid-template-areas: "about__col_first about__col_second about__col_third";
   justify-content: center;
   align-content: center;
   justify-items: center;
   background-color: rgba(239, 239, 240, 0.445);
   margin-top: 8%;
   grid-column-gap: 20px;
}

.about__img_first {
   margin-top: 3%;
   max-width: 100%;
}

.about__img_third {
   margin-top: 5%;
   max-width: 100%;
}

.about__img_second {
   max-width: 100%;
}

.about__col_first {
   grid-area: about__col_first;
   display: grid;
   justify-content: right;
   align-content: center;
}

.about__col_second {
   grid-area: about__col_second;
   display: grid;
   align-content: center;
}

.about__col_third {
   grid-area: about__col_third;
   display: grid;
   justify-content: start;
   align-content: center;
   margin-right: 5%;
}

.about__txt {
   /*font-size: 1.5em;*/
   font-size: calc(12px + 4 * (100vw / 1440));
}

.our-tasks {
   margin: 8% auto;
   justify-content: center;
}

.our-tasks__row {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-template-rows: repeat(1, 1fr);
   gap: 20px;
}

.our-tasks__digit {
   font-family: 'SF Pro Display';
   font-weight: 900;
   font-style: normal;
   /*font-size: 200px;*/
   font-size: calc(120px + 80 * (100vw / 1440));
   color: #e9e5e5;
   justify-content: left;
   line-height: 0.8;
   width: 80px;
}

.our-tasks__text {
   font-weight: normal;
   font-style: normal;
   /*font-size: 22px;*/
   font-size: calc(16px + 6 * (100vw / 1440));
   margin: 0 5px;
}

.our-tasks__first {
   display: grid;
   grid-template-columns: 0.4fr 1.6fr;
   align-items: center;
}

.our-tasks__second {
   display: grid;
   grid-template-columns: 0.5fr 1.5fr;
   align-items: center;
}

.our-projects {
   display: grid;
   grid-area: our-projects;
   margin: 8% auto;
}

.our-projects__top {
   display: grid;
   justify-content: space-between;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-template-rows: repeat(auto-fit, 1fr);
   gap: 20px;
}

.our-projects__img {
   position: relative;
}

.our-projects__img>img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.our-projects__btn-container {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}

.centered {
   position: absolute;
   text-align: center;
   color: white;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.centered>h4 {
   font-weight: bold;
   font-style: normal;
   font-size: calc(35px + 29 * (100vw / 1440));
}

.our-projects__bottom {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
   grid-template-rows: repeat(auto-fit, 1fr);
   margin-top: 20px;
   gap: 20px;
}

.our-projects__btn-row {
   display: grid;
   justify-items: right;
   margin-top: 20px;
}

/*section - Анастасия*/
.content__grid {
   display: grid;
   grid-area: content__grid;
   grid-template-columns: 1fr;
   justify-items: center;
   margin: 5% auto;
   font-weight: normal;
   font-style: normal;
   font-size: 14px;
}

.content__grid__btn-row {
   margin-top: 10px;
}

.border_style {
   border-radius: 0px;
}

@media screen and (max-width: 360px) {
   h2 {
      font-size: calc(40px + (24 + 24 * 0.7) * ((100vw - 320px) / 1440));
      text-align: center;
   }

   h1 {
      font-size: calc(45px + (19 + 19 * 0.7) * ((100vw - 320px) / 1440));
   }

   .header {
      display: none;
   }

   .pagination-main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 8%;
   }

   .introduction {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 1fr;
      grid-template-areas: "introduction__txt""introduction__slider";
   }

   .introduction__txt {
      grid-area: introduction__txt;
      display: grid;
      justify-content: center;
   }

   .carousel-inner {
      max-width: 100%;
   }

   .introduction__button {
      display: none;
   }

   .about__row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1.5fr 0.7fr;
      grid-template-areas: 'about__col_third about__col_third''about__col_second about__col_first';
      justify-content: center;
      align-content: center;
      margin-top: 8%;
      margin-left: 8%;
      margin-right: 8%;
      /*font-size: 1em;*/
      background-color: white;
   }

   .about__button {
      max-width: 50%;
   }

   .about__col_third {
      grid-area: about__col_third;
      display: grid;
      justify-content: center;
      align-content: space-around;
   }

   .about__title {
      color: #C4C4C4;
      margin-left: 5%;
   }

   .about__txt {
      font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));
      margin-left: 10%;
      margin-left: 5%;
   }

   .about__button {
      max-width: 40%;
      margin-left: 5%;
   }

   .about__button>img {
      display: none;
   }

   .our-tasks__row {
      margin-top: 5%;
   }

   .our-tasks__digit {
      font-size: calc(120px + (80 + 80 * 0.7) * ((100vw - 320px) / 1440));
   }

   .our-tasks__text {
      font-size: calc(16px + (6 + 6 * 0.7) * ((100vw - 320px) / 1440));
      padding: 0;
   }

   .our-projects__row {
      margin-top: 5%;
   }

   h4 {
      font-size: calc(35px + (29 + 29 * 0.7) * ((100vw - 320px) / 1440));
   }

   .content-image__contact {
      display: none;
   }

   .back-btn {
      text-decoration: none;
      padding: 1.5%;
      border: solid 1px #414141;
      opacity: 20%;
      position: relative;
      left: 55%;
      margin-bottom: 2%;
   }

   .back-btn:hover {
      background-color: #585c61;
      opacity: 120%;
      color: #F2F2F2;
   }

   a.back-top:hover {
      text-decoration: none;
      list-style: none;
      color: white;
   }

   .footer {
      display: none;
   }

}

@media screen and (min-width: 361px) and (max-width: 499px) {

   h2 {
      font-size: calc(40px + (24 + 24 * 0.7) * ((100vw - 320px) / 1440));
      text-align: center;
   }

   h1 {
      font-size: calc(45px + (19 + 19 * 0.7) * ((100vw - 320px) / 1440));
   }

   .header {
      display: none;
   }

   .pagination-main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 8%;
   }

   .introduction {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 1fr;
      grid-template-areas: "introduction__txt""introduction__slider";
   }

   .introduction__txt {
      grid-area: introduction__txt;
      display: grid;
      justify-content: center;
      margin-left: 5%;
   }

   .carousel-inner {
      max-width: 100%;
   }

   .introduction__button {
      position: absolute;
      left: 1%;
      top: 93%;
      transform: translate(-1%, -93%);
   }

   .about__row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1.5fr 0.7fr;
      grid-template-areas: 'about__col_third about__col_third''about__col_second about__col_first';
      justify-content: center;
      align-content: center;
      margin-top: 8%;
      margin-left: 8%;
      margin-right: 8%;
      /*font-size: 1.1em;*/
      background-color: white;
   }

   .about__button {
      max-width: 40%;
   }

   .about__col_third {
      grid-area: about__col_third;
      display: grid;
      justify-content: center;
      align-content: space-around;
   }

   .about__title {
      color: #C4C4C4;
      margin-left: 5%;
   }

   .about__txt {
      margin-left: 10%;
      /*font-size: 1.3em;*/
      margin-left: 5%;
      font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));
   }

   .about__button {
      max-width: 40%;
      margin-left: 5%;
   }

   .our-tasks__row {
      margin-top: 5%;
   }

   .our-tasks__digit {
      font-size: calc(120px + (80 + 80 * 0.7) * ((100vw - 320px) / 1440));
   }

   .our-tasks__text {
      font-size: calc(16px + (6 + 6 * 0.7) * ((100vw - 320px) / 1440));
   }

   .our-projects__row {
      margin-top: 5%;
   }

   h4 {
      font-size: calc(35px + (29 + 29 * 0.7) * ((100vw - 320px) / 1440));
   }

   .content-image__contact {
      display: none;
   }

   .back-btn {
      text-decoration: none;
      padding: 1.5%;
      border: solid 1px #414141;
      opacity: 20%;
      position: relative;
      left: 55%;
      margin-bottom: 2%;
   }

   .back-btn:hover {
      background-color: #585c61;
      opacity: 120%;
      color: #F2F2F2;
   }

   a.back-top:hover {
      text-decoration: none;
      list-style: none;
      color: white;
   }

   .footer {
      display: none;
   }

}

@media screen and (min-width: 500px) and (max-width: 768px) {
   h2 {
      font-size: calc(40px + (24 + 24 * 0.7) * ((100vw - 320px) / 1440));
   }

   h1 {
      font-size: calc(45px + (19 + 19 * 0.7) * ((100vw - 320px) / 1440));
   }

   .header {
      display: none;
   }

   .introduction__txt {
      margin-right: 10%;
   }

   .pagination-main {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .arrows {
      margin: 0;
   }

   .right {
      margin-left: 10px;
   }

   .about__row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'about__col_third about__col_third''about__col_second about__col_first';
      justify-content: center;
      align-content: center;
      margin-left: 8%;
      margin-right: 8%;
      /*font-size: 1.3em;*/
      background-color: white;
   }

   .about__button {
      max-width: 40%;
      margin-bottom: 3%;
   }

   .about__col_third {
      grid-area: about__col_third;
      display: grid;
      justify-content: center;
      align-content: space-around;
   }

   .about__title {
      color: #C4C4C4;
      font-size: 1.3em;
      margin-left: 5%;
   }

   .about__txt {
      font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));
      margin-left: 5%;
   }

   .about__button {
      max-width: 40%;
      margin-left: 5%;
   }

   .our-tasks__row {
      margin-top: 5%;
   }

   .our-tasks__digit {
      font-size: calc(120px + (80 + 80 * 0.7) * ((100vw - 320px) / 1440));
   }

   h4 {
      font-size: calc(35px + (29 + 29 * 0.7) * ((100vw - 320px) / 1440));
   }

   .our-tasks__text {
      font-size: calc(16px + (6 + 6 * 0.7) * ((100vw - 320px) / 1440));
      margin-left: 10%;
   }

   .our-projects__row {
      margin-top: 5%;
   }

   .content-image__contact {
      max-width: 45%;
   }

   .back-btn {
      display: none;
   }

   .footer__top {
      display: grid;
      padding: 8vh;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.5fr 1fr;
      grid-template-areas: "footer__logo footer__logo footer__logo"
         "footer__information  footer__contacts-min361px footer__social";
      gap: 20px;
   }

   .footer__logo {
      display: grid;
      grid-area: footer__logo;
      justify-content: center;
      align-items: center;
   }

   .footer__contacts {
      display: none;
   }

   .footer__contacts-min361px {
      display: grid;
      grid-area: footer__contacts-min361px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
         "title2-min361px"
         "footer__phone-min361px"
         "footer__mail-min361px";
   }

   .title2-min361px {
      grid-area: title2-min361px;
   }

   .footer__phone-min361px {
      grid-area: footer__phone-min361px;
   }

   .btn-min361px {
      border-radius: 40%;
      background-color: #7A7A7A;
   }

   .btn-min361px:hover {
      background-color: #504e4e;
   }

   .footer__mail-min361px {
      grid-area: footer__mail-min361px;
   }

   .footer__social-wrapper {
      grid-area: footer__social-wrapper;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
         "footer__facebook"
         "footer__twitter"
         "footer__linked"
         "footer__pinterest";
      justify-content: start;
      align-items: stretch;
   }

   .footer__bottom {
      display: none;
   }

   .footer__bottom-min361px {
      display: grid;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: #414141;
      padding: 2%;
   }

}

@media screen and (min-width: 769px) and (max-width: 1023px) {
   h2 {
      font-size: calc(40px + (24 + 24 * 0.7) * ((100vw - 320px) / 1440));
   }

   h1 {
      font-size: calc(45px + (19 + 19 * 0.7) * ((100vw - 320px) / 1440));
   }

   .header-max768 {
      display: none;
   }

   .introduction__txt {
      margin-right: 5%;
   }

   .pagination-main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   .about__txt {
      font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));
      padding-right: 5%;
   }

   .our-tasks__row {
      margin-top: 5%;
   }

   .our-tasks__digit {
      font-size: calc(120px + (80 + 80 * 0.7) * ((100vw - 320px) / 1440));
   }

   .our-tasks__text {
      font-size: calc(16px + (6 + 6 * 0.7) * ((100vw - 320px) / 1440));
      margin-left: 10%;
   }

   .our-projects__row {
      margin-top: 5%;
   }

   h4 {
      font-size: calc(35px + (29 + 29 * 0.7) * ((100vw - 320px) / 1440));
   }

   .content-image__contact {
      max-width: 45%;
   }

   .back-btn {
      display: none;
   }

   .footer__contacts-min361px {
      display: none;
   }

   .footer__top {
      display: grid;
      padding: 8vh;
      grid-template-columns: 1fr 1.5fr 1fr;
      grid-template-rows: 0.5fr 1fr;
      grid-template-areas: "footer__logo footer__logo footer__logo"
         "footer__information footer__contacts footer__social";
   }

   .footer__logo {
      display: grid;
      grid-area: footer__logo;
      justify-content: center;
      align-items: center;
   }

   .footer__bottom-min361px {
      display: none;
   }
}

@media screen and (min-width: 1024px) {
   .header-max768 {
      display: none;
   }

   .introduction__txt {
      margin-right: 5%;
   }

   .about__txt {
      padding-right: 5%;
   }

   .content-image__contact {
      max-width: 45%;
   }

   .our-tasks__row {
      margin-top: 5%;
   }

   .our-projects__row {
      margin-top: 5%;
   }

   .back-btn {
      display: none;
   }

   .footer__contacts-min361px {
      display: none;
   }

   .footer__bottom-min361px {
      display: none;
   }
}