@font-face {
    font-family: 'TT Hoves';
    src: url('fonts/TTHoves-Light.eot');
    src: local('TT Hoves Light'), local('TTHoves-Light'),
        url('fonts/TTHoves-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTHoves-Light.woff2') format('woff2'),
        url('fonts/TTHoves-Light.woff') format('woff'),
        url('fonts/TTHoves-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('fonts/TTHoves-Regular.eot');
    src: local('TT Hoves Regular'), local('TTHoves-Regular'),
        url('fonts/TTHoves-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTHoves-Regular.woff2') format('woff2'),
        url('fonts/TTHoves-Regular.woff') format('woff'),
        url('fonts/TTHoves-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('fonts/TTHoves-Medium.eot');
    src: local('TT Hoves Medium'), local('TTHoves-Medium'),
        url('fonts/TTHoves-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTHoves-Medium.woff2') format('woff2'),
        url('fonts/TTHoves-Medium.woff') format('woff'),
        url('fonts/TTHoves-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('fonts/TTHoves-DemiBold.eot');
    src: local('TT Hoves DemiBold'), local('TTHoves-DemiBold'),
        url('fonts/TTHoves-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTHoves-DemiBold.woff2') format('woff2'),
        url('fonts/TTHoves-DemiBold.woff') format('woff'),
        url('fonts/TTHoves-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('fonts/TTHoves-Bold.eot');
    src: local('TT Hoves Bold'), local('TTHoves-Bold'),
        url('fonts/TTHoves-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTHoves-Bold.woff2') format('woff2'),
        url('fonts/TTHoves-Bold.woff') format('woff'),
        url('fonts/TTHoves-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Black.eot');
    src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
        url('fonts/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/SFProDisplay-Black.woff2') format('woff2'),
        url('fonts/SFProDisplay-Black.woff') format('woff'),
        url('fonts/SFProDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}