@import url(style_header_footer.css);

body {
    font-family: 'TT Hoves', Arial, Helvetica, sans-serif;
}

.main {
    width: 100%;
}

.section {
    width: 80vw;
    margin: 10px auto;
}

.border_style {
    border-radius: 0px;
}

.bold {
    font-weight: bold;
    color: black;
}

h1 {
    font-weight: 300;
    font-style: normal;
    font-size: calc(45px + 19 * (100vw / 1440));
    color: #BDBDBD;
}

@media screen and (max-width: 360px) {
    .header {
        display: none;
    }

    .content__grid {
        display: grid;
        grid-area: content__grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    h1 {
        font-weight: 300;
        font-style: normal;
        font-size: 10vw;
        color: #BDBDBD;
    }

    .content__style_3 {
        font-weight: 700;
        font-style: normal;
        font-size: 5vw;
        color: #333333;
    }

    .content__style_4 {
        font-weight: 300;
        font-style: normal;
        font-size: 5vw;
        color: #333333;
    }

    .content__style_5 {
        font-weight: 400;
        font-style: normal;
        font-size: 5vw;
        color: #FFFFFF;
    }

    .content__style_6 {
        font-weight: bold;
        font-style: normal;
        font-size: 5vw;
        color: #333333;
    }

    .content__style_7 {
        font-weight: 700;
        font-style: normal;
        color: #333333;
    }

    .map_style {
        width: 70%;
        height: 50%;
        margin-bottom: 10vw;
    }

    .footer {
        display: none;
    }

}

@media screen and (min-width: 361px) and (max-width: 499px) {
    .content__grid {
        display: grid;
        grid-area: content__grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr;
        justify-items: center;
    }

    .header {
        display: none;
    }

    h1 {
        font-size: calc(45px + (19 + 19 * 0.7) * ((100vw - 320px) / 1440));
    }

    .content__style_3 {
        font-weight: 700;
        font-style: normal;
        font-size: 5vw;
        color: #333333;
    }

    .content__style_4 {
        font-weight: 300;
        font-style: normal;
        font-size: 5vw;
        color: #333333;
    }

    .content__style_5 {
        font-weight: 400;
        font-style: normal;
        font-size: 5vw;
        color: #FFFFFF;
    }

    .content__style_6 {
        font-weight: bold;
        font-style: normal;
        font-size: 5vw;
        color: #333333;
    }

    .content__style_7 {
        font-weight: 700;
        font-style: normal;
        color: #333333;
    }

    .map_style {
        width: 70%;
        height: 60%;
    }

    .footer {
        display: none;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    .content__grid {
        display: grid;
        grid-area: content__grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .header {
        display: none;
    }

    h1 {
        font-size: calc(45px + (19 + 19 * 0.7) * ((100vw - 320px) / 1440));
    }

    .content__style_3 {
        font-weight: 700;
        font-style: normal;
        font-size: 5vw;
        color: #333333;
    }

    .content__style_4 {
        font-weight: 300;
        font-style: normal;
        font-size: 5vw;
        color: #333333;
    }

    .content__style_5 {
        font-weight: 400;
        font-style: normal;
        font-size: 5vw;
        color: #FFFFFF;
    }

    .content__style_6 {
        font-weight: bold;
        font-style: normal;
        font-size: 5vw;
        color: #333333;
    }

    .content__style_7 {
        font-weight: 700;
        font-style: normal;
        color: #333333;
    }

    .map_style {
        width: 70%;
        height: 50%;
    }

    .footer__top {
        display: grid;
        padding: 8vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas:
            "footer__logo footer__logo footer__logo"
            "footer__information  footer__contacts-min361px footer__social";
        gap: 20px;
    }

    .footer__logo {
        display: grid;
        grid-area: footer__logo;
        justify-content: center;
        align-items: center;
    }

    .footer__contacts {
        display: none;
    }

    .footer__contacts-min361px {
        display: grid;
        grid-area: footer__contacts-min361px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "title2-min361px"
            "footer__phone-min361px"
            "footer__mail-min361px";
    }

    .title2-min361px {
        grid-area: title2-min361px;
    }

    .footer__phone-min361px {
        grid-area: footer__phone-min361px;
    }

    .btn-min361px {
        border-radius: 40%;
        background-color: #7A7A7A;
    }

    .btn-min361px:hover {
        background-color: #504e4e;
    }

    .footer__mail-min361px {
        grid-area: footer__mail-min361px;
    }

    .footer__social-wrapper {
        grid-area: footer__social-wrapper;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "footer__facebook"
            "footer__twitter"
            "footer__linked"
            "footer__pinterest";
        justify-content: start;
        align-items: stretch;
    }

    .footer__bottom {
        display: none;
    }

    .footer__bottom-min361px {
        display: grid;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: #414141;
        padding: 2%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .content__grid {
        display: grid;
        grid-area: content__grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }

    .header-max768 {
        display: none;
    }

    h1 {
        font-size: calc(45px + (19 + 19 * 0.7) * ((100vw - 320px) / 1440));
    }

    .content__style_3 {
        font-weight: 700;
        font-style: normal;
        font-size: 2vw;
        color: #333333;
    }

    .content__style_4 {
        font-weight: 300;
        font-style: normal;
        font-size: 2vw;
        color: #333333;
    }

    .content__style_5 {
        font-weight: 400;
        font-size: 2vw;
        font-style: normal;
        color: #FFFFFF;
    }

    .content__style_6 {
        font-weight: bold;
        font-style: normal;
        font-size: 2vw;
        color: #333333;
    }

    .content__style_7 {
        font-weight: 700;
        font-style: normal;
        color: #333333;
    }

    .map_style {
        width: 70%;
        height: 70%;
    }

    .footer__contacts-min361px {
        display: none;
    }

    .footer__top {
        display: grid;
        padding: 8vh;
        grid-template-columns: 1fr 1.5fr 1fr;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas: "footer__logo footer__logo footer__logo"
            "footer__information footer__contacts footer__social";
    }

    .footer__logo {
        display: grid;
        grid-area: footer__logo;
        justify-content: center;
        align-items: center;
    }

    .footer__bottom-min361px {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .content__grid {
        display: grid;
        grid-area: content__grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }

    .header-max768 {
        display: none;
    }

    .content__style_3 {
        font-weight: bold;
        font-style: normal;
        font-size: 18px;
    }

    .content__style_4 {
        font-weight: 300;
        font-style: normal;
        font-size: 16px;
    }

    .content__style_5 {
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
    }

    .map_style {
        width: 80%;
        height: 80%;
    }

    .footer__contacts-min361px {
        display: none;
    }

    .footer__bottom-min361px {
        display: none;
    }
}