@import url(style_header_footer.css);

body {
   font-family: 'TT Hoves', Arial, Helvetica, sans-serif;
}

.main {
   width: 100%;
}

.section {
   width: 80vw;
   margin: 10px auto;
}

h1 {
   font-weight: 300;
   font-style: normal;
   font-size: calc(45px + 19 * (100vw / 1440));
   color: #BDBDBD;
}

.bold {
   font-weight: bold;
   color: black;
}

.gallery__list {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   grid-template-rows: repeat(auto-fit, 2fr);
   grid-gap: 15px;
   width: 80vw;
   margin: 0 auto;
}

/*добавила эти значения к твоему классу чтобы кнопки стояли где нужно, не съезжали к краю.(и заголовок, кстати, тоже починился)*/
.gallery__article {
   display: grid;
   justify-content: center;
   margin-top: 5vh;
}

.gallery__img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
}

/*начало кода кнопок*/
.pagination {
   display: flex;
   margin: 8% 0px;
}

.pagination__arrows {
   display: flex;
   justify-content: flex-end;
   margin-bottom: 8%;
}

.start-page,
.end-page,
.left-arrow,
.right-arrow {
   height: 53px;
   width: 53px;
   border: 0px;
   background-color: transparent;
}

.end-page:hover,
.start-page:hover {
   color: #BDBDBD;
}

.left-arrow,
.right-arrow {
   border: 1px solid #F2F2F2;
   background-color: transparent;
   margin-left: 20px;
}

.left-arrow:hover,
.right-arrow:hover {
   background-color: #F9F9F9;
}

.img__tooltip {
   position: relative;
   margin: 10px auto;
}

.tooltip {
   position: absolute;
   /*ширина всплывающего описания */
   width: 95%;
   /*размер шрифта */
   font-size: 1.5vw;
   /*сдвиг всплывающего окна в середину изображения*/
   top: 50%;
   /*сдвиг всплывающего окна по левой стороне изображения*/
   left: 2%;
   /*установка прозразности*/
   filter: alpha(opacity=0);
   opacity: 0;
   /*выравнивание текста */
   text-align: left;
   /*цвет текста */
   color: whitesmoke;
   /*фон блока с текстом */
   background: black;
   /*св-во позволяют элементам изменять значения в течение опр-ого периода времени, 
                              анимируя изменения свойств, а не заставляя их происходить немедленно*/
   transition: all ease 0.5s;
}

.img__tooltip:hover .tooltip {
   /*установка прозразности*/
   filter: alpha(opacity=70);
   /*gрозрачность при наведении мыши */
   opacity: .7;
}

@media screen and (max-width: 360px) {
   .header {
      display: none;
   }

   h1 {
      font-size: calc(45px + (19 + 19 * 0.7) * ((100vw - 320px) / 1440));
   }

   .pagination {
      display: flex;
      justify-content: center;
   }


   /*.gallery__list {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(10, 1fr);
      align-items: start;
      width: 80vw;
      grid-gap: 15px;
      margin: 10% auto;
   }*/


   .tooltip {
      display: none;
   }

   .footer {
      display: none;
   }
}

@media screen and (min-width: 361px) and (max-width: 499px) {
   .header {
      display: none;
   }

   h1 {
      font-size: calc(45px + (19 + 19 * 0.7) * ((100vw - 320px) / 1440));
   }

   .pagination {
      display: flex;
      justify-content: center;
   }

   /*.gallery__list {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(10, 1fr);
      align-items: start;
      width: 80vw;
      grid-gap: 15px;
      margin: 10% auto;
   }*/

   .tooltip {
      display: none;
   }

   .footer {
      display: none;
   }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
   .header {
      display: none;
   }

   h1 {
      font-size: calc(45px + (19 + 19 * 0.7) * ((100vw - 320px) / 1440));
   }

   /*.gallery__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      align-items: start;
      width: 80vw;
      grid-gap: 15px;
      margin: 10% auto;
   }*/

   .footer__top {
      display: grid;
      padding: 8vh;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.5fr 1fr;
      grid-template-areas: "footer__logo footer__logo footer__logo"
         "footer__information  footer__contacts-min361px footer__social";
      gap: 20px;
   }

   .footer__logo {
      display: grid;
      grid-area: footer__logo;
      justify-content: center;
      align-items: center;
   }

   .footer__contacts {
      display: none;
   }

   .footer__contacts-min361px {
      display: grid;
      grid-area: footer__contacts-min361px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
         "title2-min361px"
         "footer__phone-min361px"
         "footer__mail-min361px";
   }

   .title2-min361px {
      grid-area: title2-min361px;
   }

   .footer__phone-min361px {
      grid-area: footer__phone-min361px;
   }

   .btn-min361px {
      border-radius: 40%;
      background-color: #7A7A7A;
   }

   .btn-min361px:hover {
      background-color: #504e4e;
   }

   .footer__mail-min361px {
      grid-area: footer__mail-min361px;
   }

   .footer__social-wrapper {
      grid-area: footer__social-wrapper;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
         "footer__facebook"
         "footer__twitter"
         "footer__linked"
         "footer__pinterest";
      justify-content: start;
      align-items: stretch;
   }

   .footer__bottom {
      display: none;
   }

   .footer__bottom-min361px {
      display: grid;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: #414141;
      padding: 2%;
   }

}

@media screen and (min-width: 769px) and (max-width: 1023px) {
   .header-max768 {
      display: none;
   }

   h1 {
      font-size: calc(45px + (19 + 19 * 0.7) * ((100vw - 320px) / 1440));
   }

   /*.gallery__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-template-rows: repeat(auto-fit, 2fr);
      margin-top: 20px;
      gap: 20px;
      width: 80vw;
   }
   .gallery__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      align-items: start;
      width: 80vw;
      grid-gap: 15px;
      margin: 10% auto;
   }*/

   .footer__contacts-min361px {
      display: none;
   }

   .footer__top {
      display: grid;
      padding: 8vh;
      grid-template-columns: 1fr 1.5fr 1fr;
      grid-template-rows: 0.5fr 1fr;
      grid-template-areas: "footer__logo footer__logo footer__logo"
         "footer__information footer__contacts footer__social";
   }

   .footer__logo {
      display: grid;
      grid-area: footer__logo;
      justify-content: center;
      align-items: center;
   }

   .footer__bottom-min361px {
      display: none;
   }
}

@media screen and (min-width: 1024px) {

   /*.gallery__list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      align-items: start;
      width: 80vw;
      grid-gap: 15px;
      margin: 10% auto;
   }*/

   .header-max768 {
      display: none;
   }

   .footer__contacts-min361px {
      display: none;
   }

   .footer__bottom-min361px {
      display: none;
   }
}