@import url(style_header_footer.css);

body {
    font-family: 'TT Hoves', Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: 300;
    font-style: normal;
    font-size: 4vw;
    color: #BDBDBD;
}

.bold {
    font-weight: bold;
    color: black;
}

/*Обертка установила ширину и дала отступы по бокам чтобы стоять четко посередине*/
.content {
    width: 90vw;
    margin: 20px auto;
}

.school__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*Колонки поставила не в процентах*/
    grid-template-rows: 1fr;
    grid-template-areas: "school__col_first school__col_second";
    justify-content: center;
    align-content: center;
    background-color: rgba(239, 239, 240, 0.445);
    grid-area: school__row;
    margin-bottom: 5%;
}

.school__col_first {
    grid-area: school__col_first;
    display: grid;
}

.school__col_second {
    grid-area: school__col_second;
    display: grid;
    justify-content: start;
    align-content: space-around;
    padding: 4%;
    /*Паддинг был левый, поставила общий*/
}

img {
    max-width: 100%;
}

.about__txt {
    font-weight: 300;
    font-style: normal;
    font-size: calc(12px + 4 * (100vw / 1440));
    display: block;
}

.white-button {
    border-radius: 0px;
    background-color: white;
    max-width: 50%;
    margin-bottom: 5%;
}

h4 {
    font-weight: 300;
    font-style: normal;
    font-size: calc(24px + 16 * (100vw / 1440));
    color: #C4C4C4;
    display: block;
    padding-top: 5%;
}

.parking__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "parking__col_first parking__col_second";
    justify-content: center;
    align-content: center;
    background-color: rgba(239, 239, 240, 0.445);
    grid-area: parking__row;
    margin-bottom: 5%;
}

.parking__col_first {
    grid-area: parking__col_first;
    display: grid;
}

.parking__col_second {
    grid-area: parking__col_second;
    display: grid;
    padding: 4%;
}

.office__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "office__col_first office__col_second";
    justify-content: center;
    align-content: center;
    background-color: rgba(239, 239, 240, 0.445);
    grid-area: office__row;
    margin-bottom: 5%;
}

.office__col_first {
    grid-area: office__col_first;
    display: grid;
}

.office__col_second {
    grid-area: office__col_second;
    display: grid;
    padding: 4%;
}

/*начало кода кнопок*/
.pagination {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 130px;
}

.pagination__body {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.arrows {
    display: flex;
    justify-content: flex-start;
}

.start,
.end,
.left,
.right {
    height: 53px;
    width: 53px;
    border: 0px;
    background-color: transparent;
}

.end {
    color: #BDBDBD;
}

.left,
.right {
    border: 1px solid #F2F2F2;
    background-color: transparent;
}

.right {
    background-color: #F9F9F9;
}

.footer {
    display: grid;
    background-color: #2C2C2C;
    color: #FFFFFF;
}


@media screen and (max-width: 360px) {
    .header {
        display: none;
    }

    .content__title {
        text-align: center;
    }

    .txt {
        font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));

    }

    h4 {
        font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1440));
    }

    .school__row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 60%;
        grid-template-areas: "school__col_first"
            "school__col_second";
        margin-bottom: 10%;
    }

    .school__col_second {
        align-content: center;
    }

    .parking__row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 60%;
        grid-template-areas: "parking__col_first""parking__col_second";
        margin-bottom: 10%;
    }

    .parking__col_second {
        align-content: center;
    }

    .office__row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 60%;
        grid-template-areas: "office__col_first""office__col_second";
        margin-bottom: 10%;
    }

    .office__col_second {
        align-content: center;
    }

    a>img {
        display: none;
    }

    .content-image__contact {
        display: none;
    }

    .pagination {
        justify-content: center;
    }

    .footer {
        display: none;
    }
}

@media screen and (min-width: 361px) and (max-width: 499px) {
    .header {
        display: none;
    }

    .content__title {
        text-align: center;
    }

    .about__txt {

        font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));

    }

    h4 {
        font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1440));
    }

    .school__row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 55% 45%;
        grid-template-areas: "school__col_first"
            "school__col_second";
        margin-bottom: 10%;
    }

    .school__col_second {
        align-content: center;
    }

    .parking__row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 55% 45%;
        grid-template-areas: "parking__col_first""parking__col_second";
        margin-bottom: 10%;
    }

    .parking__col_second {
        align-content: center;
    }

    .office__row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 55% 45%;
        grid-template-areas: "office__col_first""office__col_second";
        margin-bottom: 10%;
    }

    .office__col_second {
        align-content: center;
    }

    .content-image__contact {
        display: none;
    }

    .pagination {
        justify-content: center;
    }

    .footer {
        display: none;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    .header {
        display: none;
    }

    .content__title {
        text-align: center;
    }

    .txt {
        font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));
    }

    h4 {
        font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1440));
    }

    .school__row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 58% 42%;
        grid-template-areas: "school__col_first"
            "school__col_second";
        margin-bottom: 10%;
    }

    .parking__row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 58% 42%;
        grid-template-areas: "parking__col_first""parking__col_second";
        margin-bottom: 10%;
    }

    .office__row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 58% 42%;
        grid-template-areas: "office__col_first""office__col_second";
        margin-bottom: 10%;
    }

    .content-image__contact {
        max-width: 45%;
    }

    .pagination {
        justify-content: center;
    }

    .footer__top {
        display: grid;
        padding: 8vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas: "footer__logo footer__logo footer__logo"
            "footer__information  footer__contacts-min361px footer__social";
        gap: 20px;
    }

    .footer__logo {
        display: grid;
        grid-area: footer__logo;
        justify-content: center;
        align-items: center;
    }

    .footer__contacts {
        display: none;
    }

    .footer__contacts-min361px {
        display: grid;
        grid-area: footer__contacts-min361px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "title2-min361px"
            "footer__phone-min361px"
            "footer__mail-min361px";
    }

    .title2-min361px {
        grid-area: title2-min361px;
    }

    .footer__phone-min361px {
        grid-area: footer__phone-min361px;
    }

    .btn-min361px {
        border-radius: 40%;
        background-color: #7A7A7A;
    }

    .btn-min361px:hover {
        background-color: #504e4e;
    }

    .footer__mail-min361px {
        grid-area: footer__mail-min361px;
    }

    .footer__social-wrapper {
        grid-area: footer__social-wrapper;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "footer__facebook"
            "footer__twitter"
            "footer__linked"
            "footer__pinterest";
        justify-content: start;
        align-items: stretch;
    }

    .footer__bottom {
        display: none;
    }

    .footer__bottom-min361px {
        display: grid;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: #414141;
        padding: 2%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .header-max768 {
        display: none;
    }

    .txt {

        font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));

    }

    h4 {
        font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1440));
    }

    .content-image__contact {
        max-width: 45%;
    }

    .footer__contacts-min361px {
        display: none;
    }

    .footer__top {
        display: grid;
        padding: 8vh;
        grid-template-columns: 1fr 1.5fr 1fr;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas: "footer__logo footer__logo footer__logo"
            "footer__information footer__contacts footer__social";
    }

    .footer__logo {
        display: grid;
        grid-area: footer__logo;
        justify-content: center;
        align-items: center;
    }

    .footer__bottom-min361px {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .header-max768 {
        display: none;
    }

    .txt {
        padding: 2% 5% 5% 2%;
    }

    .content-image__contact {
        max-width: 45%;
    }

    .footer__contacts-min361px {
        display: none;
    }

    .footer__bottom-min361px {
        display: none;
    }
}