@import url(style_header_footer.css);

.parking__title {
   margin-top: 10vw;
}

body {
   font-family: 'TT Hoves', Arial, Helvetica, sans-serif;
}

h1 {
   font-weight: 300;
   font-style: normal;
   font-size: calc(45px + 19 * (100vw / 1440));
   color: #BDBDBD;
}

.parking__text {
   font-weight: 300;
   font-style: normal;
   font-size: calc(12px + 4 * (100vw / 1440));
}

.bold {
   font-weight: bold;
   color: black;
}

.parking__title {
   margin-left: 10%;
}

.parking__img {
   width: 100%;
   /*height: 100%;
   object-fit: cover;
   display: block;*/
}

@media screen and (max-width: 360px) {
   .header {
      display: none;
   }

   h1 {
      font-size: 10vw;
   }

   .parking__text {
      font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));
   }

   .parking__content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.7fr 2fr 4fr 1fr;
      grid-template-areas:
         'one'
         'two'
         'three'
         'four';
      margin: 10%;
   }

   .parking__item--1 {
      grid-area: one;
      width: 80vw;
   }

   .parking__item--2 {
      grid-area: two;
      width: 80vw;
   }

   .parking__item--3 {
      grid-area: three;
   }

   .parking__item--4 {
      grid-area: four;
      width: 80vw;
   }

   .footer {
      display: none;
   }

}

@media screen and (min-width: 361px) and (max-width: 499px) {
   .header {
      display: none;
   }

   h1 {
      /*font-size: calc(45px + (19 + 19 * 0.7) * ((100vw - 320px) / 1440));*/
      font-size: 8vw;
   }

   .parking__text {
      font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));
   }

   .parking__content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.33fr 0.7fr 1.5fr 0.4fr;
      grid-template-areas:
         'one'
         'two'
         'three'
         'four';
      margin: 10%;
   }

   .parking__item--1 {
      grid-area: one;
      width: 80vw;
   }

   .parking__item--2 {
      grid-area: two;
      width: 80vw;
   }

   .parking__item--3 {
      grid-area: three;
   }

   .parking__item--4 {
      grid-area: four;
      width: 80vw;
   }

   .footer {
      display: none;
   }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
   .header {
      display: none;
   }

   h1 {
      font-size: calc(45px + (19 + 19 * 0.7) * ((100vw - 320px) / 1440));
   }

   .parking__text {
      font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));
   }

   .parking__content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.45fr 1.2fr 0.7fr 0.3fr;
      grid-template-areas:
         'one'
         'two'
         'three'
         'four';
      margin: 5%;
   }

   .parking__item--1 {
      grid-area: one;
      width: 90vw;
      height: 10vh;
   }

   .parking__item--2 {
      grid-area: two;
      width: 90vw;
   }

   .parking__item--3 {
      grid-area: three;
   }

   .parking__item--4 {
      grid-area: four;
      width: 90vw;
   }

   .footer__top {
      display: grid;
      padding: 8vh;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.5fr 1fr;
      grid-template-areas: "footer__logo footer__logo footer__logo"
         "footer__information  footer__contacts-min361px footer__social";
      gap: 20px;
   }

   .footer__logo {
      display: grid;
      grid-area: footer__logo;
      justify-content: center;
      align-items: center;
   }

   .footer__contacts {
      display: none;
   }

   .footer__contacts-min361px {
      display: grid;
      grid-area: footer__contacts-min361px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
         "title2-min361px"
         "footer__phone-min361px"
         "footer__mail-min361px";
   }

   .title2-min361px {
      grid-area: title2-min361px;
   }

   .footer__phone-min361px {
      grid-area: footer__phone-min361px;
   }

   .btn-min361px {
      border-radius: 40%;
      background-color: #7A7A7A;
   }

   .btn-min361px:hover {
      background-color: #504e4e;
   }

   .footer__mail-min361px {
      grid-area: footer__mail-min361px;
   }

   .footer__social-wrapper {
      grid-area: footer__social-wrapper;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
         "footer__facebook"
         "footer__twitter"
         "footer__linked"
         "footer__pinterest";
      justify-content: start;
      align-items: stretch;
   }

   .footer__bottom {
      display: none;
   }

   .footer__bottom-min361px {
      display: grid;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: #414141;
      padding: 2%;
   }

}

@media screen and (min-width: 769px) and (max-width: 1023px) {

   .header-max768 {
      display: none;
   }

   .parking__title {
      margin-top: 5%;
   }

   h1 {
      font-size: calc(45px + (19 + 19 * 0.7) * ((100vw - 320px) / 1440));
   }

   .parking__text {
      font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));
   }

   .parking__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 0.6fr 1.4fr 0.6fr;
      grid-template-areas:
         'one one one'
         'two three three'
         'four four four';
      grid-gap: 15px;
      margin: 10%;
   }

   .parking__item--1 {
      grid-area: one;
   }

   .parking__item--2 {
      grid-area: two;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;

   }

   .parking__item--3 {
      grid-area: three;
   }

   .parking__item--4 {
      grid-area: four;
   }

   .footer__contacts-min361px {
      display: none;
   }

   .footer__top {
      display: grid;
      padding: 8vh;
      grid-template-columns: 1fr 1.5fr 1fr;
      grid-template-rows: 0.5fr 1fr;
      grid-template-areas: "footer__logo footer__logo footer__logo"
         "footer__information footer__contacts footer__social";
   }

   .footer__logo {
      display: grid;
      grid-area: footer__logo;
      justify-content: center;
      align-items: center;
   }

   .footer__bottom-min361px {
      display: none;
   }
}

@media screen and (min-width: 1024px) {
   .parking__title {
      margin-top: 5%;
   }

   .parking__text {
      font-weight: 300;
      font-style: normal;
      font-size: calc(12px + 4 * (100vw / 1440));
   }

   .parking__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
         'one one one'
         'two three three'
         'four four four';
      grid-gap: 15px;
      margin: 10%;
   }

   .parking__item--1 {
      grid-area: one;
   }

   .parking__item--2 {
      grid-area: two;
   }

   .parking__item--3 {
      grid-area: three;
   }

   .parking__item--4 {
      grid-area: four;
   }

   .header-max768 {
      display: none;
   }

   .footer__contacts-min361px {
      display: none;
   }

   .footer__bottom-min361px {
      display: none;
   }
}