.header {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header__logo header__nav";
    padding: 5vh;
}

.header__logo {
    grid-area: header__logo;
    display: grid;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.header__nav {
    grid-area: header__nav;
    display: grid;
    font-size: 18px;
    grid-template-columns: repeat (5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "header__boss header__gallery header__projects header__sertificates header__contacts";
    justify-content: start;
    align-items: center;
    gap: 4vw;
}

.header__boss {
    grid-area: header__boss;
}

.header__gallery {
    grid-area: header__gallery;
}

.header__projects {
    grid-area: header__projects;
}

.header__sertificates {
    grid-area: header__sertificates;
}

.header__contacts {
    grid-area: header__contacts;
}

.gallery__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: start;
    grid-gap: 15px;
    margin: 10%;
}

.gallery__text {
    border: seagreen solid;
    background-color: rgba(251, 251, 251, 1);
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.footer {
    display: grid;
    background-color: #2C2C2C;
    color: #FFFFFF;
}

a.link {
    color: #FFFFFF;
}

.footer__top {
    display: grid;
    padding: 8vh;
    grid-template-columns: 1fr 1fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "footer__logo footer__information  footer__contacts footer__social";
}

.footer__logo {
    display: grid;
    grid-area: footer__logo;
    justify-content: start;
    align-items: start;
}

.footer__information {
    display: grid;
    grid-area: footer__information;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "title1"
        "footer__boss"
        "footer__gallery"
        "footer__projects "
        "footer__sertificates"
        "footer__contact";
    gap: 20px;
}

.title1 {
    grid-area: title1;
}

.footer__boss {
    grid-area: footer__boss;
}

.footer__gallery {
    grid-area: footer__gallery;
}

.footer__projects {
    grid-area: footer__projects;
}

.footer__sertificates {
    grid-area: footer__sertificates;
}

.footer__contact {
    grid-area: footer__contact;
}

.footer__contacts {
    display: grid;
    grid-area: footer__contacts;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "title2"
        "footer__location"
        "footer__phone"
        "footer__mail";
}

.title2 {
    grid-area: title2;
}

.footer__location {
    grid-area: footer__location;
}

.footer__phone {
    grid-area: footer__phone;
}

.footer__mail {
    grid-area: footer__mail;
}

.footer__social {
    grid-area: footer__social;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr;
    grid-template-areas:
        "title3"
        "footer__social-wrapper";
    justify-content: start;
}

.title3 {
    grid-area: title3;
}

.footer__social-wrapper {
    grid-area: footer__social-wrapper;
    display: grid;
    max-width: 195px;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "footer__facebook footer__twitter footer__linked footer__pinterest";
}

.footer__facebook {
    grid-area: footer__facebook;
}

.footer__twitter {
    grid-area: footer__twitter;
}

.footer__linked {
    grid-area: footer__linked;
}

.footer__pinterest {
    grid-area: footer__pinterest;
}

.footer__line {
    max-width: 100%;
}

.footer__bottom {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #414141;
    padding: 2%;
}