/*header - Ольга*/
.header {
   display: grid;
   max-width: 100%;
   grid-template-columns: 1fr 2fr;
   grid-template-rows: 1fr;
   grid-template-areas: "header__logo header__nav";
   padding: 5vh;
}

.header__logo {
   grid-area: header__logo;
   display: grid;
   max-width: 100%;
   justify-content: center;
   align-items: center;
}

a {
   text-decoration: none;
   color: black;
}

.header__nav {
   grid-area: header__nav;
   display: grid;
   font-size: 18px;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: 1fr;
   grid-template-areas:
      "header__boss header__gallery header__projects header__sertificates header__contacts";
   justify-content: start;
   align-items: center;
   gap: 4vw;
}

.header__boss {
   grid-area: header__boss;
}

.header__gallery {
   grid-area: header__gallery;
}

.header__projects {
   grid-area: header__projects;
}

.header__sertificates {
   grid-area: header__sertificates;
}

.header__contacts {
   grid-area: header__contacts;
}

/*article: introduction и about - Лариса*/
.introduction {
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-rows: 1fr;
   grid-template-areas: "introduction__txt introduction__slider";
}

.introduction__txt {
   grid-area: introduction__txt;
   display: grid;
   justify-content: center;
   align-content: center;
}

.introduction__title {
   font-size: 1.5em;
   font-weight: bold;
}

.introduction__title-transparent {
   color: #C4C4C4;
}

.introduction__slider {
   grid-area: introduction__slider;
}

.carousel-inner {
   max-width: 80%;
}

/*отступ карусели справа*/

.introduction__button {
   position: absolute;
   left: 1%;
   top: 93%;
   transform: translate(-1%, -93%);
   -ms-transform: translate(-1%, -93%);
}

.white-button {
   border-radius: 0px;
}

.introduction__item>img {
   max-width: 100%;
}

.about__row>img {
   max-width: 100%;
}

.about__row {
   display: grid;
   grid-template-columns: 35% 25% 40%;
   grid-template-rows: 1fr;
   grid-template-areas: "about__col_first about__col_second about__col_third";
   justify-content: center;
   align-content: center;
   justify-items: center;
   background-color: rgba(239, 239, 240, 0.445);
   margin-top: 10%;
   margin-left: 10%;
   margin-right: 10%;
}

.about__img_first {
   margin-top: 15px;
   margin-bottom: 15px;
}

.about__img_third {
   padding-bottom: 20px;

}

.about__img_second {
   max-width: 100%;
   max-height: 80%;

}

.about__col_first {
   grid-area: about__col_first;
   display: grid;
   justify-content: right;
}

.about__col_second {
   grid-area: about__col_second;
   display: grid;
   align-content: center;
}

.about__col_third {
   grid-area: about__col_third;
   display: grid;
   justify-content: start;
   align-content: center;
}

/*article: our-tasks и our-projects - Олеся*/
.our-projects {
   display: grid;
   grid-area: our-projects;
   margin: 10% auto;
   border: 2px solid blueviolet;
}

.our-tasks {
   display: grid;
   width: 100vw;
   justify-content: center;
   margin-top: 100px;
}

.our-tasks__row {
   display: grid;
   grid-template-columns: 1fr 1fr;
   max-width: 1170px;
   gap: 5%;
}

.our-tasks__first {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.our-tasks__second {
   display: grid;
   grid-template-columns: 1fr 1fr;
   font-size: 15px;
}

.our-tasks__title {
   margin-bottom: 30px;
   color: #C4C4C4;
}

.our-projects {
   display: grid;
   max-width: 1170px;
   grid-area: our-projects;
   margin: 100px auto 20px;
   color: #C4C4C4;
}

.our-projects__row {
   display: grid;
   margin-top: 20px;
   grid-template-rows: 1fr 1fr;
   gap: 15px;
}

.our-projects__top {
   display: grid;
   justify-content: space-between;
   grid-template-columns: 1.5fr 1.5fr;
   gap: 20px;
}

.content {
   position: relative;
   text-align: center;
   color: white;
}

.centered {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.our-projects__bottom {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 30px;
}

.our-projects__btn-row {
   display: grid;
   justify-items: right;
   margin-top: 20px;
}

/*section - Анастасия*/
.content__grid {
   display: grid;
   grid-area: content__grid;
   grid-template-columns: 1fr;
   justify-items: center;
   margin: 5% auto 5%;
}

.content-image__contact {
   max-width: 45%;
}

/*footer - Ольга*/
.footer {
   display: grid;
   background-color: #2C2C2C;
   color: #FFFFFF;
}

a.link {
   color: #FFFFFF;
}

.footer__top {
   display: grid;
   padding: 8vh;
   grid-template-columns: 1fr 1fr 1.5fr 1fr;
   grid-template-rows: 1fr;
   grid-template-areas: "footer__logo footer__information  footer__contacts footer__social";
}

.footer__logo {
   display: grid;
   grid-area: footer__logo;
   justify-content: start;
   align-items: start;
}

.footer__information {
   display: grid;
   grid-area: footer__information;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(6, 1fr);
   grid-template-areas: "title1"
      "footer__boss"
      "footer__gallery"
      "footer__projects "
      "footer__sertificates"
      "footer__contact";
   gap: 20px;
}

.title1 {
   grid-area: title1;
}

.footer__boss {
   grid-area: footer__boss;
}

.footer__gallery {
   grid-area: footer__gallery;
}

.footer__projects {
   grid-area: footer__projects;
}

.footer__sertificates {
   grid-area: footer__sertificates;
}

.footer__contact {
   grid-area: footer__contact;
}

.footer__contacts {
   display: grid;
   grid-area: footer__contacts;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(4, 1fr);
   grid-template-areas: "title2"
      "footer__location"
      "footer__phone"
      "footer__mail";
}

.title2 {
   grid-area: title2;
}

.footer__location {
   grid-area: footer__location;
}

.footer__phone {
   grid-area: footer__phone;
}

.footer__mail {
   grid-area: footer__mail;
}

.footer__social {
   grid-area: footer__social;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 10% 1fr;
   grid-template-areas: "title3"
      "footer__social-wrapper";
   justify-content: start;
}

.title3 {
   grid-area: title3;
}

.footer__social-wrapper {
   grid-area: footer__social-wrapper;
   display: grid;
   max-width: 195px;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 1fr;
   grid-template-areas: "footer__facebook footer__twitter footer__linked footer__pinterest";
}

.footer__facebook {
   grid-area: footer__facebook;
}

.footer__twitter {
   grid-area: footer__twitter;
}

.footer__linked {
   grid-area: footer__linked;
}

.footer__pinterest {
   grid-area: footer__pinterest;
}

.footer__line {
   max-width: 100%;
}

.footer__bottom {
   display: grid;
   justify-content: center;
   align-items: center;
   font-size: 16px;
   color: #414141;
   padding: 2%;
}