body {
   max-width: 100%;
}

.header {
   display: grid;
   max-width: 100%;
   max-height: 102px;
   grid-template-columns: 1fr 2fr;
   grid-template-rows: 1fr;
   grid-template-areas: "logo nav";
   padding: 15px;
}

.header__logo {
   grid-area: logo;
   display: grid;
   max-width: 460px;
   justify-content: center;
   align-items: center;
}

a {
   text-decoration: none;
   color: black;
}

.header__nav {
   grid-area: nav;
   display: grid;
   font-size: 18px;
   grid-template-columns: repeat (5, 1fr);
   grid-template-rows: 1fr;
   grid-template-areas: "boss gallery projects sertificates contacts";
   justify-content: start;
   align-items: center;
   gap: 60px;
}

.header__boss {
   grid-area: boss;
}

.header__gallery {
   grid-area: gallery;
}

.header__projects {
   grid-area: projects;
}

.header__sertificates {
   grid-area: sertificates;
}

.header__contacts {
   grid-area: contacts;
}

.introduction {
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-rows: 1fr;
   grid-template-areas: "introduction__txt introduction__slider";
}

.introduction__txt {
   grid-area: introduction__txt;
   display: grid;
   justify-content: center;
   align-content: center;
}

.introduction__title {
   font-size: 1.5em;
   font-weight: bold;
}

.introduction__title-transparent {
   color: #C4C4C4;
}

.introduction__slider {
   grid-area: introduction__slider;
}

.carousel-inner {
   max-width: 75%;
}

/*отступ карусели справа*/

.introduction__button {
   position: absolute;
   left: 1%;
   top: 93%;

}

.cou .our-projects {
   /* margin: 30px 0px;*/
   display: grid;
   grid-area: our-projects;
   justify-items: center;
   /*border: 2px solid blueviolet;*/
}

.our-tasks {
   display: grid;
   grid-area: our-tasks;
   justify-items: center;
   /*border: 2px solid blueviolet;*/
}

.our-tasks__row {
   display: grid;
   width: 90vw;
   grid-template-columns: 1fr 1fr;
   gap: 5%;
}

.our-tasks__title {
   margin-bottom: 30px;
   color: #C4C4C4;
}

.our-tasks__first {
   display: grid;
   grid-template-columns: 1fr 1fr;
   font-size: 15px;
}

.our-tasks__second {
   display: grid;
   grid-template-columns: 1fr 1fr;
   font-size: 15px;
}

.our-projects__title {
   margin-bottom: 30px;
   color: #C4C4C4;
}

.our-projects__row {
   display: grid;
   width: 90vw;
   grid-template-rows: 1fr 1fr;
   gap: 15px;
}

.our-projects__top {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10px;
}

.content {
   position: relative;
   text-align: center;
   color: white;
}

.centered {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.our-projects__bottom {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
}

.our-projects__btn {
   display: grid;
   width: 90vw;
   justify-content: right;
   margin-top: 10px;
}

.footer {
   display: grid;
   margin: 10px auto;
   background-color: #2C2C2C;
   color: #FFFFFF;
}

a.link {
   color: #FFFFFF;
}

.footer__top {
   display: grid;
   padding: 8vh;
   grid-template-columns: 1fr 1fr 1.5fr 1fr;
   grid-template-rows: 1fr;
   grid-template-areas: "footer__logo footer__information  footer__contacts footer__social";

}

.footer__logo {
   display: grid;
   grid-area: footer__logo;
   justify-content: start;
   align-items: start;
}

.footer__information {
   display: grid;
   grid-area: footer__information;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(6, 1fr);
   grid-template-areas:
      "title1"
      "footer__boss"
      "footer__gallery"
      "footer__projects "
      "footer__sertificates"
      "footer__contact";
   gap: 20px;
}

.title1 {
   grid-area: title1;
}

.footer__boss {
   grid-area: footer__boss;
}

.footer__gallery {
   grid-area: footer__gallery;
}

.footer__projects {
   grid-area: footer__projects;
}

.footer__sertificates {
   grid-area: footer__sertificates;
}

.footer__contact {
   grid-area: footer__contact;
}

.footer__contacts {
   display: grid;
   grid-area: footer__contacts;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(4, 1fr);
   grid-template-areas:
      "title2"
      "footer__location"
      "footer__phone"
      "footer__mail";
}

.title2 {
   grid-area: title2;
}

.footer__location {
   grid-area: footer__location;
}

.footer__phone {
   grid-area: footer__phone;
}

.footer__mail {
   grid-area: footer__mail;
}

.footer__social {
   grid-area: footer__social;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 0.5fr 1fr;
   grid-template-areas: "title3"
      "wrapper";
   justify-content: start;
}

.title3 {
   grid-area: title3;
}

.footer__social-wrapper {
   grid-area: wrapper;
   display: grid;
   max-width: 195px;
   grid-template-columns: repeat (4, 1fr);
   grid-template-rows: 1fr;
   grid-template-areas: "facebook twitter linked pinterest";
}

.facebook {
   grid-area: facebook;
}

.twitter {
   grid-area: twitter;
}

.linked {
   grid-area: linked;
}

.pinterest {
   grid-area: pinterest;
}

/*не отображается линия, хотя должна*/
.footer__hr {
   border: none;
   background-color: #ece2e2;
   height: 4px;
}

.footer__bottom {
   display: grid;
   font-size: 16px;
   color: #414141;
   justify-content: center;
   align-items: center;
   padding: 20px;

}