@import url(style_header_footer.css);

body {
   font-family: 'TT Hoves', Arial, Helvetica, sans-serif;
}

.section {
   width: 80vw;
   margin: 10px auto;
}

.certificates {
   display: flex;
   justify-content: center;
   margin-top: 5vh;
}

h1 {
   font-weight: 300;
   font-style: normal;
   font-size: calc(45px + 19 * (100vw / 1440));
   color: #BDBDBD;
}

.bold {
   font-weight: bold;
   color: black;
}

.certificates__row {
   display: flex;
   justify-content: space-between;
   width: 80vw;
   margin: 5vh auto;
}

.pagination {
   display: flex;
   justify-content: flex-end;
   margin: 5% 0px;
}

.pagination__arrows {
   display: flex;
   justify-content: flex-end;
   margin-bottom: 8%;
}

.start-page,
.end-page,
.left-arrow,
.right-arrow {
   height: 53px;
   width: 53px;
   border: 0px;
   background-color: transparent;
}

.end-page:hover,
.start-page:hover {
   color: #BDBDBD;
}

.left-arrow,
.right-arrow {
   border: 1px solid #F2F2F2;
   background-color: transparent;
   margin: 10px;
}

.left-arrow:hover,
.right-arrow:hover {
   background-color: #F9F9F9;
}


@media screen and (max-width: 360px) {
   .header {
      display: none;
   }

   h1 {
      /*font-size: calc(45px + (19 + 19 * 0.7) * ((100vw - 320px) / 1440));*/
      font-size: 10vw;
   }

   .certificates__row {
      flex-direction: column;
      width: 100vw;
   }

   .certificates__body {
      text-align: center;
   }

   .certificates__image img {
      max-width: 337px;
      width: 100%;
   }

   .pagination {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .footer {
      display: none;
   }

}

@media screen and (min-width: 361px) and (max-width: 499px) {
   .header {
      display: none;
   }

   h1 {
      /*font-size: calc(45px + (19 + 19 * 0.7) * ((100vw - 320px) / 1440));*/
      font-size: 10vw;
   }

   .certificates__row {
      flex-direction: column;
      max-width: 350px;
   }

   .certificates__body {
      text-align: center;
   }

   .pagination {
      display: flex;
      justify-content: center;
   }

   /*   .footer__top {
      display: grid;
      padding: 2vh;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.5fr 1fr;
      grid-template-areas: "footer__logo footer__logo footer__logo"
         "footer__information footer__contacts-min361px footer__social";
      gap: 20px;
   }

   .footer__logo {
      display: grid;
      grid-area: footer__logo;
      justify-content: center;
      align-items: center;
   }

   .footer__contacts {
      display: none;
   }

   .footer__contacts-min361px {
      display: grid;
      grid-area: footer__contacts-min361px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
         "title2-min361px"
         "footer__phone-min361px"
         "footer__mail-min361px";
   }

   .title2-min361px {
      font-size: 16px;
      grid-area: title2-min361px;
   }

   .footer__phone-min361px {
      grid-area: footer__phone-min361px;
   }

   .btn-min361px {
      border-radius: 40%;
      background-color: #7A7A7A;
   }

   .btn-min361px:hover {
      background-color: #504e4e;
   }

   .footer__mail-min361px {
      grid-area: footer__mail-min361px;
   }

   .footer__social-wrapper {
      grid-area: footer__social-wrapper;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
         "footer__facebook"
         "footer__twitter"
         "footer__linked"
         "footer__pinterest";
      justify-content: start;
      align-items: stretch;
   }

   .footer__bottom {
      display: none;
   }

   .footer__line {
      display: none;
   }

   .footer__bottom-min361px {
      display: none;
   }*/

   .footer {
      display: none;
   }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
   .header {
      display: none;
   }

   h1 {
      font-size: calc(45px + (19 + 19 * 0.7) * ((100vw - 320px) / 1440));
   }

   .certificates__row {
      flex-direction: column;
   }

   .certificates__body {
      text-align: center;
   }

   .pagination {
      display: flex;
      justify-content: center;
   }

   .footer__top {
      display: grid;
      padding: 8vh;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.5fr 1fr;
      grid-template-areas: "footer__logo footer__logo footer__logo"
         "footer__information  footer__contacts-min361px footer__social";
      gap: 20px;
   }

   .footer__logo {
      display: grid;
      grid-area: footer__logo;
      justify-content: center;
      align-items: center;
   }

   .footer__contacts {
      display: none;
   }

   .footer__contacts-min361px {
      display: grid;
      grid-area: footer__contacts-min361px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
         "title2-min361px"
         "footer__phone-min361px"
         "footer__mail-min361px";
   }

   .title2-min361px {
      grid-area: title2-min361px;
   }

   .footer__phone-min361px {
      grid-area: footer__phone-min361px;
   }

   .btn-min361px {
      border-radius: 40%;
      background-color: #7A7A7A;
   }

   .btn-min361px:hover {
      background-color: #504e4e;
   }

   .footer__mail-min361px {
      grid-area: footer__mail-min361px;
   }

   .footer__social-wrapper {
      grid-area: footer__social-wrapper;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
         "footer__facebook"
         "footer__twitter"
         "footer__linked"
         "footer__pinterest";
      justify-content: start;
      align-items: stretch;
   }

   .footer__bottom {
      display: none;
   }

   .footer__bottom-min361px {
      display: grid;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: #414141;
      padding: 2%;
   }

}

@media screen and (min-width: 769px) and (max-width: 1023px) {
   .header-max768 {
      display: none;
   }

   h1 {
      font-size: calc(45px + (19 + 19 * 0.7) * ((100vw - 320px) / 1440));
   }

   .certificates__row {
      flex-direction: column;
   }

   .certificates__body {
      text-align: center;
   }

   .pagination {
      display: flex;
      justify-content: center;
   }

   .footer__contacts-min361px {
      display: none;
   }

   .footer__top {
      display: grid;
      padding: 8vh;
      grid-template-columns: 1fr 1.5fr 1fr;
      grid-template-rows: 0.5fr 1fr;
      grid-template-areas: "footer__logo footer__logo footer__logo"
         "footer__information footer__contacts footer__social";
   }

   .footer__logo {
      display: grid;
      grid-area: footer__logo;
      justify-content: center;
      align-items: center;
   }

   .footer__bottom-min361px {
      display: none;
   }
}

@media screen and (min-width: 1024px) {
   .header-max768 {
      display: none;
   }

   .footer__contacts-min361px {
      display: none;
   }

   .footer__bottom-min361px {
      display: none;
   }
}